a.btn-money {
  position: relative;
  color: @main-color;
  border-width: 1px;
  font-weight: bold;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #ffffff;
    border-width: 1px;
    background-color: @main-color;
  }

  &:hover span,
  &:focus span,
  &:active span,
  &.active span {
    color: #ffffff;
  }
}

a.btn-money span {
  display: block;
  position: absolute;
  right: 2px;
  top: 14px;
  color: #999;
  font-size: 12px;
}

#summa .col-xs-4 {
  padding: 5px;
}

#summa .col-xs-4:first-child {
  padding-left: 15px;
  padding-right: 5px;
}

#summa .col-xs-4:last-child {
  padding-left: 5px;
  padding-right: 15px;
}